<form>
<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let tag of tags"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove *ngIf="removable">×</mat-icon>
    </mat-chip>
    <input
      placeholder="Search here..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
  <mat-optgroup *ngFor="let maincat of filteredCategories | async" [label]="maincat.name">
    <mat-option *ngFor="let subcat of maincat.subcats" [value]="subcat">
      {{subcat.name}}
    </mat-option>
   </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>
</form>