<div class="container-fluid h-100">
   <div class="row h-100">
      <div class="col-12 col-md-3 p-0 m-0 bg-primary">
         <div class=" m-1 p-1">
            <div class="row">
               <div class="col-3 col-md-12 m-0">
                  <div class="logowrapper">
                     <img src="/resources/mainlogo.svg" class="logo" >
                  </div>
               </div>
               <div class="col">
                  <app-searchbar></app-searchbar>
               </div>
            </div>
            <form (ngSubmit)="onSubmit()">
               <button type="submit" class="btn bg-secondary">Submit</button>
            </form>
         </div>
      </div>
      <div class="col-md-9">
         <div class=" m-1 p-1">
            <div class="card-columns" *ngIf="pageData">
               <div class="card bg-primary p-0" *ngFor="let result of pageData.results;let i=index;">
                  <div class="card-header">{{result.title}}</div>
                  <div class="card-body ">
                     <img class="card-img" src="{{result.details.imgsrc}}" alt="Card image">
                     <p class="card-text">Flickr id: {{result.id}}</p>
                     <p class="card-text"><small class="text-muted">{{result.details.desc}}</small></p>
                  </div>
                  <div class="card-footer">
                     <small class="text-muted">Taken: {{result.details.date}}</small>
                  </div>
               </div>
            </div>
            <nav *ngIf="resultData">
               <ul class="pagination justify-content-end">
                  <li class="page-item">
                     <a class="page-link" (click)="changePage(currentPageNum-1)" >Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let pager of pagesTotalArr" [ngClass]="{'active':currentPageNum==pager}">
                     <a class="page-link" (click)="changePage(pager)">{{pager+1}}</a>
                  </li>
                  <li class="page-item">
                     <a class="page-link" (click)="changePage(currentPageNum+1)" >Next</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>