@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$maincolor: #ffcccc;
$secondarycolor: #ccccff;
$mainbackground: #ffeeee;

$body-bg: $mainbackground;
html,body {
	height:100%;
}

$theme-colors: (
  "primary": $maincolor,
  "secondary": $secondarycolor,
  "danger": #ff4136
);

.mat-chip.mat-standard-chip {
	background-color: $maincolor;
}
.mat-chip-list-wrapper {
	background-color: white;
	border-radius: 5px !important;
	transition: height 0.15s ease-out;
}
.mat-standard-chip { 
	border-radius: 2px !important;
}
.mat-form-field {
	display:inline !important;
}
.mat-chip-input {
	width:50px !important;
	flex:50px !important;
	min-width:50px !important;
	min-height:32px;
}
.mat-form-field-label {
	color:$secondarycolor !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
	color:rgba(0,0,0,0) !important;
}
@import "node_modules/bootstrap/scss/bootstrap";

